{% extends 'base.html' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card-styles.css') }}" >
    
{% endblock %}


{% block content %}
<div class="container content-section">
  <div class="py-5 text-center">
    <h2 class="text-white">Mpesa Checkout</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-white">Summary</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Product name</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$12</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Second product</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Third item</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">-$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$20</strong>
        </li>
      </ul>
    </div>


    <div class="col-md-8 order-md-1">
      <h4 class="mb-3 text-white">Payment method</h4>
      <form action="" method="POST">
        {{ mpesa_form.csrf_token }}
        {{ mpesa_form.hidden_tag() }}

        <!-- Phone Number Field -->
        <div class="row">
          <div class="col-md-6 mb-3">
            {{ mpesa_form.phone_number.label(class="form-control-label text-white") }}
            {% if mpesa_form.phone_number.errors %}
                {{ mpesa_form.phone_number(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in mpesa_form.phone_number.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ mpesa_form.phone_number(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        
        <hr class="mb-4">
        <div class="form-group">
          {{ mpesa_form.confirm(class="btn btn-primary btn-lg btn-block") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
    
{% block sidebar %}
  <div class="col-md-4 sidebar">
    <div class="content-section">
      <!-- Sell Account Details -->
      <h3 class="side-title">Sell Account</h3>
      <p class='text-muted side-text'>Place an ad on an account you want to sell.
        <!--Widget Start-->
        <div class="card-body card-sidebar color1">
          <div class="float-left">
            <p>Account Ad</p>
              <h3>
                  <span class="currency">Sell</span>
              </h3>
            
          </div>
          <div class="float-right">
            <i class="bi bi-cash-coin"></i>
          </div>
        </div>
        <!--Widget End-->
      </p>
      <div class="d-grid gap-2 col-11 mx-auto">
        <a href="{{ url_for('main.seller') }}" role="button" class="btn btn-warning">Sell Account</a>
      </div>
      <br/>
      <hr class="text-white">

      <h3 class="side-title">Buy Account</h3>
      <p class='text-muted side-text'>View marketplace to explore listings on accounts for sale.
       <!--Widget Start-->
       <div class="card-body card-sidebar color2">
        <div class="float-left">
          <p>Visit</p>
            <h3>
                <span class="currency">Listings</span>
            </h3>
          
        </div>
        <div class="float-right">
          <i class="bi bi-cart4"></i>
        </div>
      </div>
      <!--Widget End-->
      </p>
      <div class="d-grid gap-2 col-11 mx-auto">
        <a href="{{ url_for('main.viewpage') }}" role="button" class="btn btn-warning">Visit Marketplace</a>
      </div>
      <br/>
      <hr class="text-white">


      <h3 class="side-title">Customer Support</h3>
      <p class='text-muted side-text'>Our Support center is always one call away.
       <!--Widget Start-->
       <div class="card-body card-sidebar color4">
        <div class="float-left">
          <p>Client</p>
            <h3>
                <span class="currency">Support</span>
            </h3>
        </div>
        <div class="float-right">
          <i class="bi bi-headset"></i>
        </div>
      </div>
      <!--Widget End-->
      </p>
     

    </div>
  </div>
  <br/>
  
{% endblock sidebar %}

{% block footer %}
<div class="border-top pt-3"></div>
<div class="container footer-container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-white">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 footer-color"><a href="#" class="nav-link p-0 footer-color">Home</a></li>
          <li class="nav-item mb-2 footer-color"><a href="#" class="nav-link p-0 footer-color">Features</a></li>
          <li class="nav-item mb-2 footer-color"><a href="#" class="nav-link p-0 footer-color">Pricing</a></li>
          <li class="nav-item mb-2 footer-color"><a href="#" class="nav-link p-0 footer-color">FAQs</a></li>
          <li class="nav-item mb-2 footer-color"><a href="#" class="nav-link p-0 footer-color">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-white">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-white">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footer-color">About</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5 class="text-white">Subscribe to our newsletter</h5>
          <p class="footer-color">Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-white">&copy; 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <i class="bi bi-twitter p-2 text-white"></i>
        <i class="bi bi-instagram p-2 text-white"></i>
        <i class="bi bi-facebook p-2 text-white"></i>
        <li class="ms-3"><a class="text-white" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
{% endblock footer %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  
{% endblock scripts %}
  


        

